<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Broadcasting</title>
  <script src="angular.min.js"></script>
  <script>
    var app = angular.module('sharing', [])
      .controller('grand', grandCtrl)
      .controller('parent', parentCtrl)
      .controller('child', childCtrl);

    function grandCtrl($scope) {
      $scope.$on('childMsg', function(event, args) {
        $scope.grandChildMsg = args.message;
      })
    }

    function parentCtrl($scope) {
      $scope.$on('childMsg', function(event, args) {
        $scope.childMsg = args.message;
        // The parent controller stop the emit, grand controller won't catch it.
        event.stopPropagation();
      })
    }

    function childCtrl($scope) {
      $scope.tellParent = function(msg) {
        $scope.$emit('childMsg', { message: msg});
      }
    }

  </script>
</head>
<body ng-app="sharing">
  <div ng-controller="grand" style="border:2px solid; padding:5px;">
    <h3>This is grand controller, grandchild child has just said "{{grandChildMsg}}".</h3>
    <div ng-controller="parent" style="border:2px solid; padding:5px;">
      <h3>This is parent controller, child has just said "{{childMsg}}".</h3>
      <div ng-controller="child" style="border:2px solid; padding:5px;">
        <h4>This is child controller, I say:</h4>
        <input type="text" ng-model="msg">
        <input type="button" value="Tell parent" ng-click="tellParent(msg)">
      </div>
    </div>
  </div>
</body>
</body>
</html>